@using IntensiveUse.Models
@using IntensiveUse.Helper
@{
    ViewBag.Title = ViewBag.City;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> list=ViewBag.List;
}

<table class="table table-bordered">
    <tr>
        <th>输入表单名称</th>
        <th style="width:200px;">上传验证</th>
    </tr>
    @foreach (UploadFileExcel item in Enum.GetValues(typeof(UploadFileExcel)))
    {
        <tr>
            <td>@(item.ToString())</td>
            <td>
                <form method="post" action="/Home/UploadFile?Type=@(item)" class="form-inline" enctype="multipart/form-data">
                    <input type="file" name="file" class="form-control input-sm" style="width:100px;" />
                    <button type="submit" class="btn btn-sm btn-success">上传</button>
                </form>
            </td>
        </tr>
    }
</table>



<table class="table table-bordered">
    <tr>
        <th>输出表单名称</th>
        <th style="width:350px;">数据导入</th>
        <th style="width:250px;">下载</th>
        
    </tr>
    @foreach (OutputExcel item in Enum.GetValues(typeof(OutputExcel)))
    {
        var Year=DateTime.Now.Year;
        if ((int)item < 14)
        {
            <tr>
            <td>@(item.ToString())-@(item.GetDescription())</td>
            <td>
                @if (item == OutputExcel.附表1A6||item==OutputExcel.附表1A5)
                {
                    var year=DateTime.Now.Year;
                    <form class="form-inline" method="post" action="/Home/UploadOutExcel" enctype="multipart/form-data">
                        <div class="input-group">
                            <input type="file" name="file" style="width:200px; height:30px;" class="form-control" />
                            <select name="Year" class="input-sm">
                                @while (year >= 2009)
                                {
                                    <option value="@year">@year</option>
                                    year--;
                                }
                            </select>

                            <input type="text" value="@(item.ToString())" name="Type" style="display:none;" />
                            <input type="text" name="City" value="@ViewBag.City" style="display:none" />
                            <button type="submit" class="btn btn-success btn-sm">上传</button>
                        </div>
                    </form>
                }
            </td>
            <td>
                <form class="form-inline" method="post" action="/Home/DownLoad" style="float:right">
                    @if (item == OutputExcel.附表1A1)
                    {
                        <select name="County">
                              @foreach (var city in list)
                              {          
                                  <option value="@city">@city</option>   
                              }      
                          </select>
                    }
                    <select name="Year">
                        @while ((Year - 5) >= 2000)
                        {
                            <option value="@Year">@(Year)-@(Year - 5)</option>
                            Year--;
                        }
                    </select>
                    <input type="text" value="@(item)" style="display:none" name="Excel" />
                    <button type="submit" class="btn btn-primary btn-xs">下载</button>
                    
                </form>
            </td>
            
        </tr>
        }
        
    }
</table>
