@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> list = ViewBag.List;
    List<string> HtmlList = ViewBag.Html;
    Dictionary<string, Dictionary<string, List<string[]>>> DICT = ViewBag.Dict;
    List<string> Provinces = ViewBag.Provinces;
}

<div class="row">
    <h3 style="margin-left:10px;"><span class="label label-success">区域评价</span> </h3>
    <div class="col-lg-6">
        <blockquote>
            <i class="glyphicon glyphicon-plane"></i>&nbsp;
            <a href="#" data-toggle="modal" data-target="#City">地级市入口</a>
            <div class="modal fade" id="City" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">请选择地级市</h4>
                        </div>
                        <div class="media-body">
                            <form method="post"action="/Home/City" class="form-horizontal" >
                                <div class="form-group">
                                    <label for="City" class="control-label col-lg-3">地级市</label>
                                    <div class="col-lg-6">
                                        <select name="City" class="form-control">
                                            @foreach (var city in list)
                                            {
                                                <option value="@city">@city</option>
                                            }
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-lg-9 col-lg-offset-3">
                                        <button type="submit" class="btn btn-primary">确定</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </blockquote>
    </div>
    <div class="col-lg-6">
        <blockquote>
            <i class="glyphicon glyphicon-send"></i>&nbsp;
            <a href="#" data-toggle="modal" data-target="#County">区/县入口</a>
            <div class="modal fade" id="County" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">请选择区（县、市）</h4>
                        </div>
                        <div class="media-body">
                            <form method="post" action="/Home/County" class="form-horizontal">
                                <div class="form-group">
                                    <label for="City" class="control-label col-lg-3">地级市</label>
                                    <div class="col-lg-6">
                                        <select name="City" class="form-control">
                                            @foreach (var city in list)
                                            {
                                                <option value="@city">@city</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="County" class="control-label col-lg-3">区（县、市）</label>
                                    <div class="col-lg-6">
                                        <select name="County" class="form-control">
                                            @foreach (var item in HtmlList)
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-9 col-lg-offset-3">
                                        <button type="submit" class="btn btn-primary">确定</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </blockquote>
    </div>
    <div class="col-lg-6">
        <blockquote>
            <i class="glyphicon glyphicon-credit-card"></i>&nbsp;
            <a href="#" data-toggle="modal" data-target="#Current">导出现状值</a>
            <div id="Current" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">导出现状数据</h4>
                        </div>
                        <form class="form-horizontal" action="/Home/CurrentDown" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="" class="control-label col-lg-3">年份：</label>
                                    <div class="col-lg-8">
                                        <select name="Year" class="form-control">
                                            @{
                                                var Ayear = DateTime.Now.Year - 1;
                                                while (Ayear > 2013)
                                                {
                                                    <option value="@Ayear">@(Ayear)年</option>
                                                    Ayear--;
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label col-lg-3">省/直辖市：</label>
                                    <div class="col-lg-6">
                                        @foreach (var key in DICT.Keys)
                                        {
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="@(key)" name="Region" />
                                                    @(key)
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label col-lg-3">市/区：</label>
                                    <div class="col-lg-8">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            @foreach (var entry in DICT.Values)
                                            {
                                                foreach (var key in entry.Keys)
                                                {
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="@(key)">
                                                            <h4 class="panel-title">
                                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@(key)" aria-expanded="true" aria-controls="collapse@(key)">
                                                                    @(key)
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapse@(key)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@(key)">
                                                            <div class="panel-body">
                                                                <table class="table">
                                                                    <tr>
                                                                        <td>
                                                                            <label class="checkbox-inline">
                                                                                <input type="checkbox" value="@(key)" name="Region" />
                                                                                <strong>@(key)</strong>
                                                                            </label>
                                                                        </td>
                                                                    </tr>
                                                                    @foreach (var array in entry[key])
                                                                    {
                                                                        <tr>
                                                                            @foreach (var group in array)
                                                                            {
                                                                                if (!string.IsNullOrEmpty(group))
                                                                                {
                                                                                    <td>
                                                                                        <label class="checkbox-inline">
                                                                                            <input type="checkbox" value="@(group)" name="Region" />@(group)
                                                                                        </label>
                                                                                    </td>
                                                                                }

                                                                            }
                                                                        </tr>
                                                                    }
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="col-lg-8 col-lg-offset-3">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="btn btn-primary">下载</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </blockquote>
    </div>
    
</div>
<div class="row">
    <h3 style="margin-left:10px;"><span class="label label-success">全国汇总</span></h3>
    
    <div class="col-lg-6">
        <blockquote>
            <i class="glyphicon glyphicon-leaf"></i>&nbsp;
            <a href="" data-toggle="modal" data-target="#Input">导入全国数据</a>
            <div id="Input" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">导入全国数据</h4>
                        </div>
                        <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/Home/UploadNation">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Excel文件：</label>
                                    <div class="col-lg-8">
                                        <input type="file" name="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="col-lg-8 col-lg-offset-3">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="btn btn-primary">导入</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </blockquote>
    </div>
    <div class="col-lg-6">
        <blockquote>
            <i class="glyphicon glyphicon-headphones"></i>&nbsp;
            <a href="" data-toggle="modal" data-target="#CityAll">地级市</a>
            <div id="CityAll" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">地级市</h4>
                        </div>
                        <form class="form-horizontal" method="post" action="/Home/ACity">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="" class="control-label col-lg-3">省份：</label>
                                    <div class="col-lg-6">
                                        <select name="Province1" class="form-control" id="Province">
                                            @foreach (var province in Provinces)
                                            {
                                                <option value="@(province)">@(province)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label col-lg-3">地级市:</label>
                                    <div class="col-lg-6">
                                        <select name="BelongCity1" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">确定</button>
                            </div>
                        </form>

                      
                    </div>
                </div>
            </div>
        </blockquote>
    </div>
    <div class="col-lg-6">
        <blockquote>
            <i class="glyphicon glyphicon-lock"></i>&nbsp;
            <a href="" data-toggle="modal" data-target="#CountyAll">区县级</a>
            <div id="CountyAll" class="modal fade" tabindex="-1" role="dialog" aria-label="myModelLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">区县级</h4>
                        </div>
                        <form class="form-horizontal" method="post" action="/Home/ACounty">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="" class="control-label col-lg-3">省份：</label>
                                    <div class="col-lg-6">
                                        <select name="Province2" class="form-control">
                                            @foreach(var province in Provinces)
                                            {
                                                <option value="@(province)">@(province)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label col-lg-3">地级市:</label>
                                    <div class="col-lg-6">
                                        <select name="BelongCity2" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label col-lg-3">区县：</label>
                                    <div class="col-lg-6">
                                        <select name="ACounty" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">确定</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </blockquote>
    </div>
</div>



<script>
    $(function () {
        $("[name=City]").click(function () {
            var value = $(this).val();
            var xmlhttp;
            var node;
            var txt;
            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            } else {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    $("[name=County]").empty().append(xmlhttp.responseText);
                }
            }
            xmlhttp.open("GET", "/Home/GetForDivision?City=" + value, true);
            xmlhttp.send();
        })

        $("[name='Province1']").click(function () {
            var val = $(this).val();
            var xmlhttp;
            var node;
            var txt;
            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            } else {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    $("[name='BelongCity1']").empty().append(xmlhttp.responseText);
                }
            }
            xmlhttp.open("GET", "/Home/GetACitys?province=" + val, true);
            xmlhttp.send();
        });

        $("[name='Province2']").click(function () {
            var val = $(this).val();
            var xmlhttp;
            var node;
            var txt;
            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            } else {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    $("[name='BelongCity2']").empty().append(xmlhttp.responseText);
                }
            }
            xmlhttp.open("GET", "/Home/GetACitys?province=" + val, true);
            xmlhttp.send();
        });

        $("[name='BelongCity2']").click(function () {
            var val = $(this).val();
            var provin = $("[name='Province2']").val();
            var xmlhttp;
            var node;
            var txt;
            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            } else {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    $("[name='ACounty']").empty().append(xmlhttp.responseText);
                }
            }
            xmlhttp.open("GET", "/Home/GetCountys?province="+provin+"&&belongCity=" + val, true);
            xmlhttp.send();
        })

    })
</script>